ul,li{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#tablePlaceholder{
  max-width: 90vw;
  overflow-x:scroll;
  max-height:325px;
  overflow-y:scroll;
}

.table-responsive{
  max-width: 82vw;
  overflow-x: scroll;
}
