ul,li{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#tablePlaceholder{
  max-width: 90vw;
  max-height:20vh;
  overflow-x: scroll;
  overflow-y: scroll;
}

.table-responsive{
  max-width: 82vw;
  overflow-x: unset;
}
