{% extends "Index.html" %}

{% block content %}
<div class="card-body">
    <div class="text-center"><h4>Welcome to the CUAHSI HYDROQUALITY client</h4></div>
    <p>This tool will guide you through the steps required to quickly and easily create, configure and run common quality control tests on your data.
      Please begin double clicking the file drop area below to upload a .csv file containing your data. Please note that the system, at present only supports CSV files with a single header column.</p>


    <form id="my_dropzone" action="http://127.0.0.1:5000/upload/" method='post' class="dropzone">
        <div class="dz-default dz-message">
            <span>Drop a csv file here to upload</span>
        </div>
    </form>

    <!-- The upload table -->
    <div class="card-body" hidden id="UploadFileTable">

    </div>

    <div class="row p-3">
        <div class="col-sm text-center">
            <button class="btn btn-secondary">Select a CSV</button>
        </div>
        <div class="col-sm text-center">
            <button class="btn btn-success" disabled id="nextTaskStep1" onclick="NextProgressBar(2);">Continue</button>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="loadingModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Loading</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Loading Please Wait...</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
