<div class="card-body">
    <div class="text-center"><h4>Thank you for using the CUHASI HydroQuality client!</h4></div>
    <p>Please click on the link below to download your quality control metadata.<p>
    <div class="row">
        <div class="col-sm d-flex justify-content-sm-center">
            <div class="button-group">

                <button class="btn btn-success" id="csv-btn" onclick="downloadCSV();">Download Quality Control Metadata</button>
                <!-- <button class="btn btn-success">Download Quality Controlled Data</button> -->
                <!-- <a href="/" class="btn btn-success">Continue Uploading with CUHASI!</a> -->
            </div>
        </div>
    </div>
</div>
